/* hidden/file.css */

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0; /* Light grey background for better contrast */
  }
  
  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Image styles */
  img {
    display: block;
    margin: 0 auto;
    border: 5px solid #975a3a;
    border-radius: 10px;
    background-color: rgb(151, 121, 85);
    max-width: 100%; /* Ensure the image is responsive */
  }
  